.facilities-container
  .row
    .col-lg-2.col-md-1
    .col-lg-8.col-md-10.facilities-divider
      .facilities-header
        %h1.facilities-title="Our Facility"
      %img{src: "https://chinabdotorg.files.wordpress.com/2012/02/assembly-line-anta.jpg", width: "625"}
      %p.facilities-subtitle="Who we are"
      %p.facilities-description="Factories arose with the introduction of machinery during the Industrial Revolution when the capital and space requirements became too great for cottage industry or workshops. Early factories that contained small amounts of machinery, such as one or two spinning mules, and fewer than a dozen workers have been called \"glorified workshops\"."
      %p.facilities-description="Most modern factories have large warehouses or warehouse-like facilities that contain heavy equipment used for assembly line production. Large factories tend to be located with access to multiple modes of transportation, with some having rail, highway and water loading and unloading facilities."
      %p.facilities-description="Factories may either make discrete products or some type of material continuously produced such as chemicals, pulp and paper, or refined oil products. Factories manufacturing chemicals are often called plants and may have most of their equipment – tanks, pressure vessels, chemical reactors, pumps and piping – outdoors and operated from control rooms. Oil refineries have most of their equipment outdoors."
      %p.facilities-description="Discrete products may be final consumer goods, or parts and sub-assemblies which are made into final products elsewhere. Factories may be supplied parts from elsewhere or make them from raw materials. Continuous production industries typically use heat or electricity to transform streams of raw materials into finished products."
      %video#video-mechanic{:controls => "controls"}
        %source{:src => "http://www.americanapparel.net/storefront/v3campaigns/factorytour/en/video/12_mechanic.mp4"}/
      %img{src: "http://eco220.ru/wp-content/uploads/2014/06/spacex-team-4.jpg"}
      %p.facilities-subtitle="State of the art equipment"
      %p.facilities-description="The term \"state of the art\" (sometimes \"cutting edge\") refers to the highest level of general development, as of a device, technique, or scientific field achieved at a particular time. It also refers to the level of development (as of a device, procedure, process, technique, or science) reached at any particular time as a result of the common methodologies employed. The term has been used since 1910, and has become both a common term in advertising and marketing, and a legally significant phrase with respect to both patent law and tort liability. In advertising, the phrase is often used to convey that a product is made with the best possible technology, but it has been noted that \"the term 'state of the art' requires little proof on the part of advertisers\", as it is considered mere puffery.[1] The use of the term in patent law, by contrast, \"does not connote even superiority, let alone the superlative quality the ad writers would have us ascribe to the term\""
      %video#video-sew{:controls => "controls"}
        %source{:src => "http://www.americanapparel.net/storefront/v3campaigns/factorytour/en/video/11_6thSew.mp4"}/