.row
  .col-md-9.col-md-offset-1
    .blog-header
      %h1.blog-title="Our Facility"
      %p.lead.blog-description="The official example template of creating a blog with Bootstrap."
    %video{:controls => "controls", :width => "480"}
      %source{:src => "http://www.americanapparel.net/storefront/v3campaigns/factorytour/en/video/12_mechanic.mp4"}/
    %video{:controls => "controls", :width => "480"}
      %source{:src => "http://www.americanapparel.net/storefront/v3campaigns/factorytour/en/video/11_6thSew.mp4"}/