/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .panel-body a { color: inherit; }

 .row.category-list:hover { background-color:#f0f0f0;}

 body {
  font-family: 'Poiret One' !important;
 }

 body .feature-heading,
 body .navbar,
 body .panel-heading {
    font-family: 'Poiret One', cursive;
   }

 .hr {
  border: 1px solid #d3d3d3;
  margin-bottom: 30px;
 }

 .search-form input{
  max-width: 165px;
 }

 .search-form {
  display: inline-block;
 }

.btn.btn-default {
  color: black;
  margin-bottom: 10px;
}

.btn.btn-default:hover {
  color: black;
}

.btn.btn-default a:hover {
  text-decoration: none;
}

.btn.btn-default.back-button {
  width: 150px;
}

.navbar.panel-primary {
  margin-left: -15px;
  margin-right: -15px;
}

.list-categories {
  text-align: left;
  margin-left: 45%;
}

.carousel-inner {
  max-width: 1200px;
  height: 250px;
}

.slide-image {
  overflow: hidden;
}


.navbar-form .btn.btn-default {
  margin: 0;
}

.custom-pagination {
  clear: both;
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.custom-pagination a, .custom-pagination span, .custom-pagination em {
  padding: 0.2em 0.5em;
}

.custom-pagination .disabled {
  color: #aaaaaa;
}

.custom-pagination .current {
  font-style: normal;
  font-weight: bold;
  color: red;
}

.custom-pagination a {
  color: #0063dc;
  text-decoration: none;
}

.custom-pagination a:hover, .custom-pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}

.custom-pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.custom-pagination .previous_page, .custom-pagination .next_page {
  border-width: 2px;
}

.email-label {
  position: absolute;
}

@media only screen and (max-width: 767px) {

  .form-container {
    margin: 0 auto;
  }

  .navbar {
    text-align: center;
  }

  .list-categories {
    margin-left: 38%;
  }

  .hide-on-mobile {
    display: none;
  }
}

.navbar {
  font-size: 27px;
}

.navbar-header .navbar-brand {
  font-size: 45px;
  margin-top: 15px;
}

.navbar-inverse {
  height: 90px!important;

}

.dropdown .dropdown-menu {
  font-size: 20px;
}

.navbar-collapse li {
  margin-top: 15px;
}

.contact-page {
  margin-right: 25px;
}

.navbar {
  margin-bottom: 5px!important;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 0px!important;
}

.sidebar-container .panel {
  border: none;
  border-radius: 0px;
  box-shadow: 0 0 10px #d3d3d3;
}

.sidebar-container .panel {
  border-right: 1px solid black;
}