/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  font-family: Arial !important;
 }

 body .feature-heading,
 body .navbar,
 body .panel-heading {
  font-family: "PT Sans", Verdana !important;
 }

 .hr {
  border: 1px solid #d3d3d3;
  margin-bottom: 30px;
 }

 .search-form input{
  max-width: 160px;
 }

 .search-form {
  display: inline-block;
 }

.btn.btn-default {
  color: #337ab7;
  margin-bottom: 10px;
}

.btn.btn-default:hover {
  color: #337ab7;
}

.btn.btn-default a:hover {
  text-decoration: none;
}

.btn.btn-default.back-button {
  width: 150px;
}

.navbar.panel-primary {
  margin-left: -15px;
  margin-right: -15px;
}

.list-categories {
  text-align: left;
  margin-left: 45%;
}

.carousel-inner {
  max-width: 1200px;
  max-height: 300px;
}

.slide-image {
  overflow: hidden;
}

.navbar.navbar-default .navbar-nav>li>a,
.navbar.navbar-default a {
  color: #31708f;
}

.navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: #31708f;
}

.navbar-form .btn.btn-default {
  margin: 0;
}

.custom-pagination {
  clear: both;
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.custom-pagination a, .custom-pagination span, .custom-pagination em {
  padding: 0.2em 0.5em;
}

.custom-pagination .disabled {
  color: #aaaaaa;
}

.custom-pagination .current {
  font-style: normal;
  font-weight: bold;
  color: red;
}

.custom-pagination a {
  color: #0063dc;
  text-decoration: none;
}

.custom-pagination a:hover, .custom-pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}

.custom-pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.custom-pagination .previous_page, .custom-pagination .next_page {
  border-width: 2px;
}

.email-label {
  position: absolute;
}

@media only screen and (max-width: 767px) {

  .form-container {
    margin: 0 auto;
  }

/* .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }*/

  .navbar {
    text-align: center;
  }

  .list-categories {
    margin-left: 38%;
  }

  .hide-on-mobile {
    display: none;
  }
}
