.category-list {
  border-bottom: 1px solid black;
  padding: 10px;
}

.panel-body {
  padding: 0px 15px 0px 15px!important;

}

.category-list a:hover {
  color: black;
}

.category-title {
  font-size: 17px;
  color: black!important;
  font-weight: bold;
}

.category-list-product {
  text-align: center;
  margin-top: 8%;
}

.category-title:hover {
  cursor: pointer;
}

.category-display-image img{
  height: 100px;
  width: 100px;
}

.sidebar-container {
  float: left;
  width: 200px;
}

.main-container {
  float: right;
  width: calc(95% - 200px);
}

@media only screen and (max-width: 767px) {

  .category-list-product {
    margin-top: 0;
  }

  .navbar.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: black;
  }

}

@media only screen and (max-width: 500px) {

  .sidebar-container {
    float: none;
    display: none;
  }

  .main-container {
    float: right;
    width: 100%;
  }
}
