.category-list {
  margin-top: 10px;
}

.category-list:hover {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.category-title {
  font-size: 15px;
  margin-top: 3%;
}

.category-list-product {
  text-align: center;
  margin-top: 8%;
}

.category-title:hover {
  cursor: pointer;
}

.category-display-image img{
  height: 100px;
  width: 100px;
}

.sidebar-container {
  float: left;
  width: 200px;
}

.main-container {
  float: right;
  width: calc(95% - 200px);
}

@media only screen and (max-width: 767px) {

  .category-list-product {
    margin-top: 0;
  }


}
