#contact-overlay {
  display: none;
  background-color: beige;
  position: absolute;
  z-index: 20;
  padding: 15px;
  width: 60%;
  left: 20%;
  margin-top: -15px;
  -webkit-box-shadow: 5px 4px 8px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 4px 8px 1px rgba(0,0,0,0.75);
  box-shadow: 5px 4px 8px 1px rgba(0,0,0,0.75);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 0px solid #000000;
}

#contact-overlay p {
  margin-bottom: 0px;
}

#close {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
}

#close:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}
