.facilities-container {
  font-family: 'Architects Daughter', cursive;
}

.facilities-header .facilities-title {
  font-size: 38px;
}
.facilities-container .facilities-subtitle {
  font-size:28px;
  text-decoration: underline;
  margin: 15px;
}

.facilities-description {
  font-size:18px;
  font-family: Helvetica
  /*display:inline;*/
}
#video-mechanic {
  /*float:right;*/
  margin:1em;
  width: 100%;
  /*display:inline;*/
}

#video-sew {
  margin:2em;
  width: 80%;
}

.facilities-container img {
  margin: 1em;
  box-sizing: border-box;
  border: 1px solid black;
  width: 425px;
  text-align:center;
  float:right;
}