/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.larger-font-bold {
  font-size: 24px;
  font-weight: bold;
}

.table-width-30 {
  width: 33%;
}
