/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

li {
  list-style-type: none;
}

.vertical-center {
  text-align: center;
}

.product-categories {
  list-style-type: square;
}

.product-title-box {
  height: 40px;
}

.product-display-image {
  margin-bottom: 10px;
  padding: 20px;
}

.product-display-image img {
  width: 150px;
  height: 150px;
}

.feature-product-image {
  position: relative;
  padding-bottom: 100%;
  height: 0;
}

.feature-product-image img {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 90%;
}

.product-display-image:hover {
  box-shadow: 0 0 10px #d3d3d3;
  cursor: pointer;
}

.product-display-image a {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}


.product-display-image a:hover {
  color: black;
}

.feature-heading {
  font-size: 75px;
  color: #31708f;
}

.feature-products .feature-product-title {
  font-size: 1.5em;
  height: 3em;
  margin-bottom: 10px;
  font-family: "PT Sans";
}

.feature-products .feature-product-price {
  font-size: 2em;
  padding: 2em 0 0 0;
  font-family: "PT Sans";
}

.feature-products .feature-left-container,
.feature-products .feature-right-container {
  padding: 0;
}

@media only screen and (max-width: 991px) {

  .feature-products .feature-product-title {
    height: 4.5em;
  }

  .feature-products .feature-product-price {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 767px) {

  .feature-products .feature-product-title {
    height: 3em;
  }

  .feature-products .feature-product-price {
    font-size: 2em;
  }

}

@media only screen and (max-width: 368px) {

  .feature-products .feature-product-title {
    height: 4.5em;
  }
}
