/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

li {
  list-style-type: none;
}

.vertical-center {
  text-align: center;
}

.product-categories {
  list-style-type: square;
}

.product-title-box {
  height: 40px;
}

.product-display-image {
  margin-bottom: 10px;
  border-radius: 50%;
  padding: 20px;
}

.product-display-image img {
  width: 150px;
  height: 150px;
}

.product-display-image:hover {
  box-shadow: 0 0 10px #d3d3d3;
  cursor: pointer;
}

.product-display-image a {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}


.product-display-image a:hover {
  color: black;
}

.feature-heading {
  font-size: 75px;
  color: #31708f;
}
