=render 'categories/sidebar'
.main-container
  .feature-heading.text-center= @category.name
  .hr
  = render 'products/show'


.custom-pagination.text-center
  = will_paginate @products, :previous_label => raw("<span class='glyphicon glyphicon-arrow-left'></span>"), :next_label => raw("<span class='glyphicon glyphicon-arrow-right'></span>")
