.row
  - @products.each do |product|
    .col-md-4.col-sm-6.col-xs-12.product-display-image
      .list-img-container
        .col-md-12.col-sm-12.col-xs-12.vertical-center.no-padding
          = image_tag product.picture_link
      .col-md-12.col-sm-12.col-xs-12.vertical-center.product-title-box
        = link_to product.title, product_path(product)
        = " | $#{Money.us_dollar(product.price*100)}"

