.row.carousel-holder
  .col-md-12
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel" }
      .carousel-inner
        .item.active
          %img.slide-image{ src: "http://www.liveforfilms.com/wp-content/uploads/2013/12/banner.png"}
        .item
          %img.slide-image{ src: "https://lh3.googleusercontent.com/-P0jthN5vhFk/Us18A0bAfxI/AAAAAAAAAAA/DkyN-191Mbw/w1200-h300-n/event_theme.jpg"}
        .item
          %img.slide-image{ src: "http://cdn11.lbstatic.nu/files/users/cover_photos/91987264-0b5a-44b9-b9c8-cb2acf4f53ed.jpg"}
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-right

=render 'show'
