%form{"role"=>"search"}
  .form-group.search-form
    %input.form-control.col-md-12.col-sm-12.col-xs-12{"type"=>"text", "placeholder"=>"Search"}
    %button.btn.btn-default{"type"=>"submit"}
      %span.glyphicon.glyphicon-search
