%form{"role"=>"search"}
  .form-group.search-form
    %input.form-control.col-md-8.col-sm-8.col-xs-8{"type"=>"text", "placeholder"=>"Search"}
    %button.btn.btn-default.col-md-2.col-sm-2.col-xs-2{"type"=>"submit"}
      %span.glyphicon.glyphicon-search
